body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #c9d2df;
  color: #fff;
}

#signOutButton {
  padding: 5px 15px;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#signOutButton:hover {
  background-color: #333;
}

.logo img {
  max-height: 35px;
}

main {
  margin-left: 230px;
  display: flex;
  gap: 30px;
  padding: 0px;
  min-height: calc(100vh - 70px);
}

.ribbon {
  background-color: #d1dae7;
  color: #fff;
  padding: 20px;
  width: 150px;
  top: 58px;
  bottom: 0px;
  left: 0px;
  position: fixed;
}

.ribbon ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.ribbon ul li {
  margin-bottom: 10px;
}

.ribbon a {
  display: block;
  padding: 10px;
  background-color: #555;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
}

.ribbon a.active {
  background-color: #4F96FF;
  color: white;
}

.tab {
  flex: 1;
  display: none;
}

.tab h1 {
  margin-bottom: 30px;
}

#createBtn {
  display: inline-block;
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#formTable {
  border-collapse: collapse;
  width: 93%;
}

#formTable th,
#formTable td {
  border: 1px solid #ddd;
  padding: 8px;
}

#formTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

#formTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4F96FF;
  color: white;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 10px;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

label {
  width: 120px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  height: 100px;
}

.submit-button {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #0056b3;
}

.submit-button::after {
  content: "\2192";
  margin-left: 5px;
}

.filter-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.filter-button {
  display: inline-block;
  background-color: #fff;
  color: #000;
  padding: 8px 16px;
  border: 1px solid #000;
  border-radius: 50%;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.filter-button.active {
  background-color: #000;
  color: #fff;
}

/* Add the hover effect to the table rows */
.table-row-hover:hover {
  background-color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.3s;
}

.table-row-hover:hover td {
  background-color: #d3d3d3;
}

#formTable tbody tr:hover {
  background-color: #f9f9f9;
  transition: background-color 0.3s;
}

