body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
}
  
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #c9d2df; /* Adding this line changes the header color to gray */
  color: #fff; /* Changing the color of the text in the header to white */
}

#signOutButton {
  padding: 5px 15px;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#signOutButton:hover {
  background-color: #333;
}
  
.logo img {
    max-height: 35px;
}
  
main {
    margin-left: 230px; /* Width of the ribbon + some gap */
    display: flex;
    gap: 30px;
    padding: 0px;
    min-height: calc(100vh - 70px); /* Adjust to account for header height */
}
  
.ribbon {
    background-color: #d1dae7;
    color: #fff;
    padding: 20px;
    width: 150px;
    top: 58px;
    bottom: 0px;
    left: 0px;
    position: fixed;
}
  
.ribbon ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
.ribbon ul li {
    margin-bottom: 10px;
}
  
.ribbon a {
    display: block;
    padding: 10px;
    background-color: #555;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}
  
.ribbon a.active {
    background-color: #4F96FF;
    color: white;
}
  
.tab {
    flex: 1;
    display: none;
}

.tab h1 {
    margin-bottom: 30px;
}

#createBtn {
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#formTable {
    border-collapse: collapse;
    width: 100%;
}

#formTable th, #formTable td {
    border: 1px solid #ddd;
    padding: 8px;
}

#formTable tr:nth-child(even){background-color: #f2f2f2;}

#formTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4F96FF;
    color: white;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
